@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css);
@import url(https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap);
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

body {
  background-color: rgb(255, 255, 255);
  font-family: "Inter", sans-serif;
  color: #111111;
}

.hr {
  height: 1px;
  background-color: #EEEEEE;
}

.container {
  width: 100%;
  margin: 0;
  padding: 0;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #eeeeee;
}

.header {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  width: 198px;
}
.header .nav {
  display: none;
}
.header .burger {
  font-size: 22px;
  color: #999999;
}

.hero {
  margin-left: 2rem;
  padding-bottom: 3rem;
  padding-top: 3rem;
  background-image: url(../images/graphic.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top -30px left 190px;
  display: flex;
}
.hero .subtitle {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.1em;
  font-style: normal;
  font-weight: 700;
  color: #FF3998;
}
.hero .title {
  font-style: normal;
  font-weight: 900;
  font-size: 3rem;
  color: #111111;
}
.hero .text {
  font-size: 1.2rem;
  line-height: 1.6rem;
  font-weight: 400;
  color: #555555;
  width: 90%;
}
.hero .left {
  flex-basis: 76%;
}
.hero button {
  padding: 1.2rem 2.8rem;
  background: linear-gradient(#ffffff, #ffffff) padding-box, linear-gradient(41deg, rgb(235, 34, 34), rgb(243, 226, 74)) border-box;
  border: 3px solid transparent;
  border-radius: 2rem;
  font-weight: 600;
  font-size: 1.2rem;
}

.upsell {
  padding: 7rem 2rem 1rem 2rem;
  background-image: url(../images/background.svg);
  background-position: center;
  background-repeat: no-repeat;
}
.upsell .text {
  width: 100%;
}
.upsell .text h2 {
  font-weight: 600;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.upsell .text p {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 30px;
}

.press {
  padding: 3rem 2rem 4rem 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 3rem;
  -moz-column-gap: 5.1rem;
       column-gap: 5.1rem;
  align-items: center;
}
.press img {
  height: 100%;
}
.press .open {
  display: none;
}
.press .boom {
  height: 100%;
  background-image: url(../images/companies/1.svg);
  background-repeat: no-repeat;
  background-position: left;
}

.showcase {
  padding-left: 2rem;
  padding-bottom: 6rem;
}
.showcase h2 {
  color: #111111;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 1.2rem;
}
.showcase p {
  color: #555555;
  font-size: 20px;
  margin-bottom: 2.2rem;
}
.showcase p a {
  text-decoration: underline;
}
.showcase .items {
  display: flex;
  overflow: hidden;
}
.showcase .item-3,
.showcase .item-4 {
  display: none;
}
.showcase .item-1,
.showcase .item-2,
.showcase .item-3,
.showcase .item-4 {
  margin-right: 40px;
  min-width: 290px;
  background-color: #eeeeee;
  border-radius: 10px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.showcase ul {
  padding: 0px 24px;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.showcase ul .ul-left {
  text-align: left;
}
.showcase ul .ul-left .series {
  color: orange;
  font-size: 12px;
  font-weight: 500;
  padding-bottom: 0.5em;
}
.showcase ul .ul-left .name {
  font-weight: 500;
  font-size: 20px;
  color: #111111;
  padding-bottom: 0.5em;
}
.showcase ul .ul-left .number {
  font-size: 18px;
  color: #777777;
}
.showcase ul .ul-right {
  text-align: right;
}
.showcase ul .ul-right .bid {
  color: #777777;
  font-size: 12px;
  font-weight: 500;
  padding-bottom: 0.5em;
}
.showcase ul .ul-right .eth {
  color: #111111;
  font-weight: 500;
  font-size: 20px;
  padding-bottom: 0.5em;
}
.showcase ul .ul-right .eth img {
  padding-right: 0.5rem;
}
.showcase ul .ul-right .day {
  color: #777777;
  font-size: 18px;
  padding-bottom: 0.5em;
}

.footer-upsell {
  margin-left: 2rem;
  margin-bottom: 4rem;
  padding-bottom: 3rem;
  padding-top: 3rem;
  background-image: url(../images/upsell-footer-image.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: top 142px left 219px;
  display: flex;
}
.footer-upsell .subtitle {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.1em;
  font-style: normal;
  font-weight: 700;
  color: #FF3998;
}
.footer-upsell .title {
  font-style: normal;
  font-weight: 900;
  font-size: 3rem;
  color: #111111;
  width: 65%;
}
.footer-upsell .text {
  font-size: 1.2rem;
  line-height: 1.6rem;
  font-weight: 400;
  color: #555555;
  width: 65%;
}
.footer-upsell .left {
  flex-basis: 76%;
}
.footer-upsell button {
  padding: 1.2rem 2.8rem;
  background: linear-gradient(#ffffff, #ffffff) padding-box, linear-gradient(41deg, rgb(235, 34, 34), rgb(243, 226, 74)) border-box;
  border: 3px solid transparent;
  border-radius: 2rem;
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 3rem;
}

.footer {
  margin-left: 2rem;
}
.footer .logo {
  padding-bottom: 1.5rem;
}
.footer .footer-text {
  color: #555555;
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
}
.footer .socials {
  display: flex;
  gap: 1rem;
  font-size: 1.1rem;
  padding-bottom: 2rem;
}
.footer .socials i {
  color: #999999;
}
.footer .links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;
  padding-bottom: 1.5rem;
}
.footer .links ul {
  list-style: none;
  padding: 0;
}
.footer .links ul li {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.footer-bottom {
  margin-left: 2rem;
  padding-bottom: 3.5rem;
}
.footer-bottom .footer-copy,
.footer-bottom .footer-launch {
  color: #999999;
}
.footer-bottom .footer-launch {
  display: none;
}

@media screen and (min-width: 429px) {
  .container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .header {
    padding: 0;
    padding-top: 4.5rem;
    margin-bottom: 6rem;
  }
  .header .nav {
    display: flex;
  }
  .header .nav a {
    font-size: 1.2rem;
    margin-left: 1.5rem;
  }
  .header .nav a:last-of-type {
    color: #FF3998;
  }
  .header .burger {
    display: none;
  }

  .hero {
    background-size: auto;
    background-position: top -55px left 530px;
    padding-top: 6rem;
    padding-bottom: 9rem;
    margin-left: 0;
  }
  .hero .title {
    font-size: 6rem;
    width: 70%;
    margin-bottom: 1rem;
  }
  .hero .text {
    width: 55%;
    margin-bottom: 2.5rem;
  }

  .upsell {
    border-radius: 10px;
    padding: 9rem 0 4rem 4rem;
  }

  .press {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr;
    padding: 0;
    margin-top: 7rem;
    margin-bottom: 7rem;
  }
  .press .boom {
    background-image: url(../images/companies/1.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }
  .press .open {
    display: block;
  }

  .showcase {
    padding: 0;
  }
  .showcase .items {
    margin-top: 2rem;
    margin-bottom: 8rem;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
  }
  .showcase .items .item-3,
.showcase .items .item-4 {
    display: inline-block;
  }
  .showcase .items .item-1,
.showcase .items .item-2,
.showcase .items .item-3,
.showcase .items .item-4 {
    background-color: #eeeeee;
    border-radius: 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-right: 0;
  }

  .footer-upsell {
    background-size: auto;
    background-position: top -1px right 200px;
    width: 100%;
    margin-top: 6rem;
    margin-bottom: 6rem;
    margin-left: 0;
    border-bottom: 1px solid #EEEEEE;
  }
  .footer-upsell .title {
    font-size: 3.5rem;
    width: 70%;
  }
  .footer-upsell .text {
    width: 55%;
    margin-bottom: 2.5rem;
  }

  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 5rem;
         column-gap: 5rem;
    margin-left: 0;
  }
  .footer .links {
    display: flex;
    justify-content: space-between;
  }

  .footer-bottom {
    margin-left: 0;
    display: flex;
    justify-content: space-between;
  }
  .footer-bottom .footer-launch {
    display: block;
  }
}/*# sourceMappingURL=main.css.map */