.header {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        width: 198px;
    }

    .nav {
        display: none;

        a {
            transition: 0.1s ease-in-out;

            &:hover {
                color: $accent-color;
            }

            &:last-child:hover {
                color: $primary-color;
            }
        }


    }

    .burger {
        font-size: 22px;
        color: #999999;
    }
}