.showcase {
    padding-left: 2rem;
    padding-bottom: 6rem;

    h2 {
        color: $primary-color;
        font-weight: 500;
        font-size: 40px;
        line-height: 48px;
        margin-bottom: 1.2rem;
    }

    p {
        color: $text-color;
        font-size: 20px;
        margin-bottom: 2.2rem;

        a {
            text-decoration: underline;
            font-weight: 600;
        }
    }

    .items {
        display: flex;
        overflow: hidden;
    }

    .item-3,
    .item-4 {
        display: none;
    }

    .item-1,
    .item-2,
    .item-3,
    .item-4 {
        margin-right: 40px;
        min-width: 290px;
        background-color: $bg-color;
        border-radius: 10px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    ul {
        padding: 0px 24px;
        list-style: none;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;

        .ul-left {
            text-align: left;

            .series {
                color: orange;
                font-size: 12px;
                font-weight: 500;
                padding-bottom: 0.5em;
            }

            .name {
                font-weight: 500;
                font-size: 20px;
                color: $primary-color;
                padding-bottom: 0.5em;
            }

            .number {
                font-size: 18px;
                color: $ul-card-text;
            }
        }

        .ul-right {
            text-align: right;


            .bid {
                color: $ul-card-text;
                font-size: 12px;
                font-weight: 500;
                padding-bottom: 0.5em;
            }

            .eth {
                color: $primary-color;
                font-weight: 500;
                font-size: 20px;
                padding-bottom: 0.5em;

                img {
                    padding-right: 0.5rem;
                }
            }

            .day {
                color: $ul-card-text;
                font-size: 18px;
                padding-bottom: 0.5em;
            }
        }
    }
}