.upsell {
    padding: 7rem 2rem 1rem 2rem;
    background-image: url(../images/background.svg);
    background-position: 85% 0%;

    .text {
        width: 100%;

        h2 {
            font-weight: 600;
            font-size: 2.5rem;
            margin-bottom: 1rem;
        }

        p {
            font-weight: 400;
            font-size: 1.25rem;
            line-height: 30px;
        }
    }

}