@import "reset";
@import "common";
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css);
@import url(https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;900&display=swap);


.header {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        width: 198px;
    }

    .burger {
        font-size: 22px;
        color: #999999;
    }
}

.hero {
    width: 100%;
    margin-left: 2rem;
    padding-bottom: 3rem;
    padding-top: 3rem;
    background-image: url(../images/graphic.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top -30px left 175px;
    display: flex;

    .subtitle {
        text-transform: uppercase;
        font-size: 1rem;
        letter-spacing: 0.1em;
        font-style: normal;
        font-weight: 700;
        color: #FF3998;
    }

    .title {
        font-style: normal;
        font-weight: 900;
        font-size: 3rem;
        color: #111111;
    }

    .text {
        font-size: 1.2rem;
        line-height: 1.6rem;
        font-weight: 400;
        color: #555555;
        width: 90%;
    }

    .left {
        flex-basis: 76%;
    }
}



@media screen and (min-width:429px) {}