@import "reset";
@import "common";
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css);
@import url(https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap);


.header {
    padding: 2rem 2rem 2.5rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        width: 198px;
    }

    .burger {
        font-size: 22px;
        color: #999999;
    }
}





@media screen and (min-width:429px) {}