@import "reset";
@import "common";
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css);
@import url(https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap);


.container {
    width: 100%;
    margin: 0;
    padding: 0;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: #eeeeee;
}

.header {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        width: 198px;
    }

    .burger {
        font-size: 22px;
        color: #999999;
    }
}

.hero {
    margin-left: 2rem;
    padding-bottom: 3rem;
    padding-top: 3rem;
    background-image: url(../images/graphic.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top -30px left 190px;
    display: flex;

    .subtitle {
        text-transform: uppercase;
        font-size: 1rem;
        letter-spacing: 0.1em;
        font-style: normal;
        font-weight: 700;
        color: #FF3998;
    }

    .title {
        font-style: normal;
        font-weight: 900;
        font-size: 3rem;
        color: #111111;
    }

    .text {
        font-size: 1.2rem;
        line-height: 1.6rem;
        font-weight: 400;
        color: #555555;
        width: 90%;
    }

    .left {
        flex-basis: 76%;
    }

    button {
        padding: 1rem 2.5rem;
        background: linear-gradient(#ffffff, #ffffff) padding-box, linear-gradient(41deg, rgb(235 34 34), rgb(243, 226, 74)) border-box;
        border: 3px solid transparent;
        border-radius: 2rem;
        font-weight: 600;
        font-size: 1rem;
        margin-bottom: 3rem;
    }
}

.upsell {
    padding: 7rem 2rem 1rem 2rem;
    background-image: url(../images/background.svg);
    background-position: center;
    background-repeat: no-repeat;

    .text {
        width: 100%;

        h2 {
            font-weight: 600;
            font-size: 2.5rem;
            margin-bottom: 1rem;
        }

        p {
            font-weight: 400;
            font-size: 1.25rem;
            line-height: 30px;
        }
    }

}

.press {
    padding: 3rem 2rem 4rem 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 3rem;
    column-gap: 5.1rem;
    align-items: center;

    img {
        height: 100%;
    }

    .boom {
        height: 100%;
        background-image: url(../images/companies/1.svg);
        background-repeat: no-repeat;
        background-position: left;
    }
}

.showcase {
    padding-left: 2rem;
    padding-bottom: 6rem;

    h2 {
        color: #111111;
        font-weight: 500;
        font-size: 40px;
        line-height: 48px;
        margin-bottom: 1.2rem;
    }

    p {
        color: #555555;
        font-size: 20px;
        margin-bottom: 2.2rem;

        a {
            text-decoration: underline;
        }
    }

    .items {
        display: flex;
        overflow: hidden;
    }

    .item-3,
    .item-4 {
        display: none;
    }

    .item-1,
    .item-2 {
        margin-right: 40px;
        min-width: 290px;
        background-color: #eeeeee;
        border-radius: 10px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    ul {
        padding: 0px 24px;
        list-style: none;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;

        .ul-left {
            text-align: left;

            .series {
                color: orange;
                font-size: 12px;
                font-weight: 500;
                padding-bottom: 0.5em;
            }

            .name {
                font-weight: 500;
                font-size: 20px;
                color: #111111;
                padding-bottom: 0.5em;
            }

            .number {
                font-size: 18px;
                color: #777777;
            }
        }

        .ul-right {
            text-align: right;


            .bid {
                color: #777777;
                font-size: 12px;
                font-weight: 500;
                padding-bottom: 0.5em;
            }

            .eth {
                color: #111111;
                font-weight: 500;
                font-size: 20px;
                padding-bottom: 0.5em;

                img {
                    padding-right: 0.5rem;
                }
            }

            .day {
                color: #777777;
                font-size: 18px;
                padding-bottom: 0.5em;
            }
        }
    }
}

.footer-upsell {
    margin-left: 2rem;
    margin-bottom: 4rem;
    padding-bottom: 3rem;
    padding-top: 3rem;
    background-image: url(../images/upsell-footer-image.svg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: top 142px left 219px;
    display: flex;


    .subtitle {
        text-transform: uppercase;
        font-size: 1rem;
        letter-spacing: 0.1em;
        font-style: normal;
        font-weight: 700;
        color: #FF3998;
    }

    .title {
        font-style: normal;
        font-weight: 900;
        font-size: 3rem;
        color: #111111;
        width: 65%;
    }

    .text {
        font-size: 1.2rem;
        line-height: 1.6rem;
        font-weight: 400;
        color: #555555;
        width: 65%;
    }

    .left {
        flex-basis: 76%;
    }

    button {
        padding: 1rem 2.5rem;
        background: linear-gradient(#ffffff, #ffffff) padding-box, linear-gradient(41deg, rgb(235 34 34), rgb(243, 226, 74)) border-box;
        border: 3px solid transparent;
        border-radius: 2rem;
        font-weight: 600;
        font-size: 1rem;
        margin-bottom: 3rem;
    }
}

.footer {
    margin-left: 2rem;
    margin-bottom: 4rem;

    .logo {
        padding-bottom: 1.5rem;
    }


    .footer-text {
        color: #555555;
        font-size: 1.2rem;
        margin-bottom: 1.5rem;
    }

    .socials {
        display: flex;
        gap: 1rem;
        font-size: 1.1rem;
        padding-bottom: 2rem;

        i {
            color: #999999;
        }
    }

    .links {
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: left;
        padding-bottom: 1.5rem;

        ul {
            list-style: none;
            padding: 0;

            li {
                font-size: 1.2rem;
                margin-bottom: 0.5rem;
            }
        }
    }

    .footer-copy {
        color: #999999;
    }

}




@media screen and (min-width:429px) {

    .container {
        max-width: 1280px;
        margin: 0 auto;
        padding: 0 20px;
    }

    .hero {
        background-position: right;

        .text {
            width: 55%;
        }
    }
}